/* src/App.css */
.App {
  text-align: center;
}

button {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  margin-left: 5px;
  border-radius: 5px;
  background-color: #5FAE96;
}

@media (max-width: 600px) {
  button {
    width: 100%;
    margin: 10px 0;
  }
}
